<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Roushan Jha</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="/css/fonticons.css">
        <link rel="stylesheet" href="/fonts/stylesheet.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/css/plugins.css" />

        
        <link rel="stylesheet" href="/css/navmenu.css">
		
		<!--Theme custom css -->
        <link rel="stylesheet" href="/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/css/responsive.css" />

        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Home page style-->

		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
			
		
			


<figure class="main_area">

        <div id="home" class="home home-main-content">
            <div class="home-overlay-fluid">
                <div class="container">
                    <div class="row">
						<div class="main_home_content text-center wow fadeInUp" data-wow-duration="1.5s">
							<div class="div-menu">
								<header class="cd-header">
									<a class="cd-menu-trigger" href="#main-nav"><span></span></a>
								</header>
							</div>
						
							<div class="logo_img">
								<a href=""><img src="assets/images/logo.png" alt="" /></a>
							</div>
							<h2>Roushan Jha</h2>
							<div class="separator"></div>
							<p>FullStack Developer & Golang Programmer</p>
						</div>
						  
						
						
						
                    </div>
                </div>
            </div>
        </div><!-- End of Banner Section -->


        <section id="about" class="about">
			<div class="about_overlay">
				<div class="container chikobiko">
						<div class="user_seperator text-center">
							<a href=""><i class="lnr lnr-user"></i></a>
						</div>
					<div class="row">
							<div class="head_title text-center">
								<h2><i class="fa fa-star"></i> About me <i class="lnr lnr-star"></i></h2>
							</div>
						
						<div class="main_about_content text-center wow fadeIn" data-wow-duration="1.5s">
						   <div class="col-md-12">
								<div class="about_top_content">
									<i class="fa fa-quote-right"></i>
									<p> Junior Web Developer specializing in Backend development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript,C++ and GO. Strong background in project management</p>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
        </section><!-- End of Features Section -->
		
		<section id="features" class="features">
			<div class="features_overlay">
				<div class="container bangbang">
					<div class="row">
							<div class="head_title text-center wow pulse" data-wow-duration="1.5s">
								<h2><i class="fa fa-star"></i> Experience <i class="lnr lnr-star"></i></h2>
							</div>
						<div class="main_features wow pulse" data-wow-duration="2s">
							<div class="main_features_content">
							
								<div class="single_features">
									<div class="col-md-6">
										<div class="single_features_text">
											<h2><i class="fa fa-file-code-o"></i>Node.js</h2>
											<p>Created Many Apps Using this Library as backend</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="single_features_text">
											<h2><i class="fa fa-file-code-o"></i>React.js</h2>
											<p>Intermidiate level in React and also created couples of basic Apps</p>
										</div>
									</div>
								</div>
								
								<div class="single_features">
									<div class="col-md-6">
										<div class="single_features_text">
											<h2><i class="fa fa-file-code-o"></i>HTML/CSS</h2>
											<p>Complete hands on html as well as css</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="single_features_text">
											<h2><i class="fa fa-file-code-o"></i>Go</h2>
											<p>Currently Working On This Technology provided by Google</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="tinyforest" class="tinyforest">
			<div class="tinyforest_overlay">
				<div class="container chikobiko">
					<div class="row">
						<div class="main_tinyforest">
							<div class="col-md-5">
								<div class="single_tinyforest wow fadeInRight" data-wow-duration="1.5s">
									
									<h3>Skylark Maps</h3>
									<blockquote>
										<p>A geospatial web application thats render crucial data of India Using Mapbox and leaflet</p>
									</blockquote>
									
									<a href="https://github.com/roushanj/skylark" class="btn btn-white">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="coolautumn" class="coolautumn">
			<div class="tinyforest_overlay coolautumn_overlay">
				<div class="container bangbang">
					<div class="row">
						<div class="main_coolautumn">
							<div class="col-md-5 col-md-offset-7">
								<div class="single_coolautumn text-right wow fadeInLeft" data-wow-duration="1.5s">
									
									<h3>Authentication App</h3>
									<blockquote class="blockquote-reverse">
										<p> A MEAN(Mongo EJS Angular Node) Authentication app</p>
									</blockquote>
									<a href="https://github.com/roushanj/AuthApp" class="btn btn-white">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="drivinghome" class="drivinghome">
			<div class="tinyforest_overlay drivinghome_overlay">
				<div class="container chikobiko">
					<div class="row">
						<div class="main_drivinghome">
							<div class="col-md-5">
								<div class="single_drivinghome wow fadeInRight" data-wow-duration="2s">
									<div class="date">50 Days</div>
									<h3>Internship</h3>
									<blockquote>
										<p>Worked As a Developer At Appgram Pvt Ltd (bengaluru)</p>
									</blockquote>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="coolautumn" class="coolautumn">
			<div class="tinyforest_overlay coolautumn_overlay">
				<div class="container bangbang">
					<div class="row">
						<div class="main_coolautumn">
							<div class="col-md-5 col-md-offset-7">
								<div class="single_coolautumn text-right wow fadeInLeft" data-wow-duration="1.5s">
									
									<h3>Current Work</h3>
									<blockquote class="blockquote-reverse">
										<p>Jr. Fullstack Devloper At Cabrera Industries (Bengaluru)</p>
									</blockquote>
									<a href="http://cabreraindustries.com/" class="btn btn-white">Visit Site</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	
        <section id="contact" class="contact">
			<div class="about_overlay ">
				<div class="container chikobiko">
					<div class="row">
						<div class="main_contact">
								<div class="head_title text-center wow fadeInDown" data-wow-duration="1s">
									<h2><i class="fa fa-star"></i> Get In touch <i class="lnr lnr-star"></i></h2>
								</div>
							<div class="contact_content">
								
								

								<div class="col-nd-6 col-sm-6 col-xs-12">
									<div class="contact_socail_bookmark_area wow fadeInRight" data-wow-duration="1.5s">
										
										
										<div class="single_contact_phone">
											<h3>Email:</h3>
											<span>roushan.jha0709@gmail.com</span>
											
										</div>
										
								
										
										<div class="contact_socail_bookmark">
											<ul>
												<li><a href="https://twitter.com/im7rj" class="s_f_2"><i class="fa fa-twitter"></i></a></li>
												<li><a href="https://www.facebook.com/roushan.best7" class="s_f_2"><i class="fa fa-facebook"></i></a></li>
												<li><a href="https://github.com/roushanj" class="s_f_5"><i class="fa fa-github"></i></a></li>
												
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
        </section><!-- End of contact With Map Section -->

        

		
		
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="main_footer text-center wow fadeInUp" data-wow-duration="2s">
						<p>Made with <i class="fa fa-heart"></i>India 2018</p>
					</div>
				</div>
			</div>
		</footer>


</figure>
       





        <!-- STRAT SCROLL TO TOP -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/isotope.min.js"></script>

        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/jquery.mixitup.min.js"></script>

        
            
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        
    </body>
</html>
